@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #FAFAFA;
    color: #4D4F62;
    font-family: 'Poppins', sans-serif;
}

/* Responsive */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-container .header {
    margin-top: 85px;
    margin: 85px 32px 76px 32px;
}

.header h1 {
    letter-spacing: 0.166667px;
    font-size: 24px;
    font-weight: 200;
}

.header h2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.166667px;
}

.header p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
    opacity: 50%;
}

.card-section {
    text-align: left;
}

.card {
    background-color: #FFFFFF;
    width: 311px;
    height: 222px;
    box-shadow: 0px 15px 30px -11px rgba(131,166,210,1);
    margin-bottom: 25px;
}

.card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 27px;
    margin-left: 30px
}

.card p {
    font-size: 13px;
    opacity: 50%;
    margin-top: 3px;
    margin-left: 30px;
    width: 254px;
}

.card img {
    position: relative;
    left: 220px;
    top: 35px;
}

.green {
    border-top: 3px solid #44D3D2;
}

.red {
    border-top: 3px solid #EA5454;
}

.yellow {
    border-top: 3px solid #FCAE4A;
}

.blue {
    border-top: 3px solid #549EF2;
}



@media screen and (min-width: 1024px) {

    .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 922px;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 540px;
        height: 168px;
        margin: 3.125rem 0 1.25rem 0;
        
    }

    .header h1 {
        font-weight: 200;
        font-size: 2.25rem;
        color: #4D4F62;
        letter-spacing: 0.35px;
        padding: 0px 8%;
    }

    .header h2 {
        font-weight: 600;
        font-size: 2.25rem;
        color: #4D4F62;
        letter-spacing: 0.25px;
        padding: 0px 8%;
    }

    .header p {
        font-weight: 400;
        font-size: 	0.9rem;
        color: #4D4F62;
        opacity: 50%;
        line-height: 1.6rem;
        text-align: center;
        margin: 20px;
    }

    .card-section {
        display: flex;
        justify-content: space-around;
        width: 1110px;
        height: 530px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
    }

    .card {
        width: 350px;
        height: 250px;
        background-color: #FFFFFF;
        box-shadow: 0px 15px 30px -11px rgba(131,166,210,1);
    }

    .card h3 {
        color: #4D4F62;
        font-weight: 600;
        font-size: 1.25rem;
        margin-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 8px;
    }

    .card p {
        font-size: 0.8125rem;
        font-weight: 400;
        margin-left: 2rem;
        opacity: 50%;
        width: 286px;
        height: 56px;
        line-height: 23px;
    }

    .card img {
        position: relative;
        left: 254px;
        top: 30px;
    }

    .green {
        border-top: 3px solid #44D3D2;
    }

    .red {
        border-top: 3px solid #EA5454;
    }

    .yellow {
        border-top: 3px solid #FCAE4A;
    }

    .blue {
        border-top: 3px solid #549EF2;
    }
}